ugni/ugni.creator
ugni/ugni.config
ugni/ugni.creator.user
ugni/ugni.files
ugni/ugni.includes

miniFE-2.0/miniFE.config
miniFE-2.0/miniFE.creator
miniFE-2.0/miniFE.creator.user
miniFE-2.0/miniFE.files
miniFE-2.0/miniFE.includes

miniFE-2.0/src/miniFE_info.hpp
miniFE.x

*.o
sstGlobals.*
sst.pp.*
pp.*
*.so
*.yaml

